#t-0:checked ~ .testimonials label[for="t-0"],
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"],
#t-6:checked ~ .testimonials label[for="t-6"],
#t-7:checked ~ .testimonials label[for="t-7"],
#t-8:checked ~ .testimonials label[for="t-8"] {
  z-index: 5;
  transform: scale(1.1);
}

#t-0:checked
  ~ .testimonials
  label[for="t-0"]
  > .recipe
  > .recipe-content
  > button,
#t-1:checked
  ~ .testimonials
  label[for="t-1"]
  > .recipe
  > .recipe-content
  > button,
#t-2:checked
  ~ .testimonials
  label[for="t-2"]
  > .recipe
  > .recipe-content
  > button,
#t-3:checked
  ~ .testimonials
  label[for="t-3"]
  > .recipe
  > .recipe-content
  > button,
#t-4:checked
  ~ .testimonials
  label[for="t-4"]
  > .recipe
  > .recipe-content
  > button,
#t-5:checked
  ~ .testimonials
  label[for="t-5"]
  > .recipe
  > .recipe-content
  > button,
#t-6:checked
  ~ .testimonials
  label[for="t-6"]
  > .recipe
  > .recipe-content
  > button,
#t-7:checked
  ~ .testimonials
  label[for="t-7"]
  > .recipe
  > .recipe-content
  > button,
#t-8:checked
  ~ .testimonials
  label[for="t-8"]
  > .recipe
  > .recipe-content
  > button {
  display: block;
}

#t-0:checked ~ .testimonials label[for="t-1"],
#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-6"],
#t-6:checked ~ .testimonials label[for="t-7"],
#t-7:checked ~ .testimonials label[for="t-8"],
#t-8:checked ~ .testimonials label[for="t-0"] {
  transform: translate3d(calc(200px * 1), 0, -90px) rotateY(-15deg);
  z-index: 4;
}

#t-0:checked ~ .testimonials label[for="t-8"],
#t-1:checked ~ .testimonials label[for="t-0"],
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-6:checked ~ .testimonials label[for="t-5"],
#t-7:checked ~ .testimonials label[for="t-6"],
#t-8:checked ~ .testimonials label[for="t-7"] {
  transform: translate3d(calc(-200px * 1), 0, -90px) rotateY(15deg);
  z-index: 2;
}

#t-0:checked ~ .testimonials label[for="t-2"],
#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-6"],
#t-5:checked ~ .testimonials label[for="t-7"],
#t-6:checked ~ .testimonials label[for="t-8"],
#t-7:checked ~ .testimonials label[for="t-0"],
#t-8:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(calc(200px * 2), 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-0:checked ~ .testimonials label[for="t-3"],
#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-3:checked ~ .testimonials label[for="t-6"],
#t-4:checked ~ .testimonials label[for="t-7"],
#t-5:checked ~ .testimonials label[for="t-8"],
#t-6:checked ~ .testimonials label[for="t-0"],
#t-7:checked ~ .testimonials label[for="t-1"],
#t-8:checked ~ .testimonials label[for="t-2"] {
  transform: translate3d(calc(200px * 3), 0, -90px) rotateY(-15deg);
  z-index: 2;
}

#t-0:checked ~ .testimonials label[for="t-7"],
#t-1:checked ~ .testimonials label[for="t-8"],
#t-2:checked ~ .testimonials label[for="t-0"],
#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-6:checked ~ .testimonials label[for="t-4"],
#t-7:checked ~ .testimonials label[for="t-5"],
#t-8:checked ~ .testimonials label[for="t-6"] {
  transform: translate3d(calc(-200px * 2), 0, -90px) rotateY(15deg);
  z-index: 2;
}

#t-0:checked ~ .testimonials label[for="t-6"],
#t-1:checked ~ .testimonials label[for="t-7"],
#t-2:checked ~ .testimonials label[for="t-8"],
#t-3:checked ~ .testimonials label[for="t-0"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"],
#t-6:checked ~ .testimonials label[for="t-3"],
#t-7:checked ~ .testimonials label[for="t-4"],
#t-8:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(calc(-200px * 3), 0, -90px) rotateY(15deg);
  z-index: 2;
}

#t-0:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"],
#t-2:checked ~ .testimonials label[for="t-6"],
#t-3:checked ~ .testimonials label[for="t-7"],
#t-4:checked ~ .testimonials label[for="t-8"],
#t-5:checked ~ .testimonials label[for="t-0"],
#t-6:checked ~ .testimonials label[for="t-1"],
#t-7:checked ~ .testimonials label[for="t-2"],
#t-8:checked ~ .testimonials label[for="t-3"] {
  transform: translate3d(calc(200px * 4), 0, -90px) rotateY(-15deg);
  z-index: 1;
}

#t-0:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-6"],
#t-2:checked ~ .testimonials label[for="t-7"],
#t-3:checked ~ .testimonials label[for="t-8"],
#t-4:checked ~ .testimonials label[for="t-0"],
#t-5:checked ~ .testimonials label[for="t-1"],
#t-6:checked ~ .testimonials label[for="t-2"],
#t-7:checked ~ .testimonials label[for="t-3"],
#t-8:checked ~ .testimonials label[for="t-4"] {
  transform: translate3d(calc(-200px * 4), 0, -90px) rotateY(15deg);
  z-index: 2;
}
